body{
    font-family: 'Poppins', sans-serif;
}

#topbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
}

#logo-img{
    width: 150px;
}

#topbar a{
    text-decoration: none;
    color: grey;
    font-size: 18px;
    margin: 0 30px;
}

#topbar a:hover{
    color: black;
    border-bottom: 2px solid red;
}

#top-btn{
    color: blue;
    background-color: pink;
    padding: 20px 30px;
    border: none;
    border-radius: 20px;
}

#landing-area{
    display: flex;
    margin-top: 20px;
}

#landing-section{
    width: 45%;
    padding: 60px 70px;
}

#landing-heading{
    font-size: 70px;
}

#landing-span{
    display: inline-block;
    height: 13px;
    width: 13px;
    background-color: #5151b1;
    margin-left: 2px;
}

#landing-para{
    color: #5a5959;
}

#btn-img{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#landing-btn{
    color: white;
    background-color: #5151b1;
    padding: 18px 28px;
    border: none;
    border-radius: 20px;
    display: inline-block;
}

#design-list{
    margin-top: 40px;
}

.designs{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    background-color: #f3f1f1;
    padding: 0 20px;
    margin: 10px auto;
    border-radius: 10px;
}

#white-bg{
    background-color: white;
    box-shadow: 4px 4px 30px #f3f1f1;
}

.design-main-para{
    font-weight: bold;
    width: 150px;
}

.design-para{
    color: grey;
}

#pink-div{
    height: 10px;
    width: 20px;
    background-color: pink;
    border-radius: 5px;
}

#orange-div{
    height: 10px;
    width: 20px;
    background-color: #c21414;
    border-radius: 5px;
}

#blue-div{
    height: 10px;
    width: 20px;
    background-color: #508850;
    border-radius: 5px;
}

#red-div{
    height: 10px;
    width: 20px;
    background-color: orange;
    border-radius: 5px;
}

#landing-img img{
    padding: 60px 30px;
    height: 580px;
}